* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-image: url('../images/imagen4.jpg');
  }
  
  .form-register {
    width: 400px;
    background: #fff;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 10px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #000;
  }
  
  .form-register h4 {
    font-size: 22px;
    margin-bottom: 20px;
    color: #000;
  }
  
  .controls {
    width: 100%;
    background: #fff;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #000;
    font-family: 'calibri';
    font-size: 18px;
    color: #000;
  }
  
  .form-register p {
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
  }
  
  .form-register a {
    color: #000;
    text-decoration: none;
  }
  
  .form-register a:hover {
    color: #000;
    text-decoration: underline;
  }
  
  .form-register .botons {
    width: 100%;
    background: #000;
    border: none;
    padding: 12px;
    color: #fff;
    margin: 16px 0;
    font-size: 16px;
  }

  .descripciones {
    width:100%;
    background: #fff;
    padding: 100px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #000;
    font-family: 'calibri';
    font-size: 18px;
    color: #000;
    
  }
  .text-aling-center{
    text-align: center ;
  }
  label{
    color: #000;
  }

  