:root {
  --primary: #8c38ff;
  --light: #eeeeee;
  --dark: #212121;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: var(--dark);
}

h1 {
  margin-bottom: 30px;
  color: var(--light);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

/*Botones*/
.btn {
  display: flex;
  width: 140px;
  height: 45px;
  margin: 10px;
  position: relative;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.btn-light {
  color: var(--light);
  background-color: var(--dark);
  position: relative;
  /* border: thin solid var(--dark); */
  border-radius: 15px;
  transition: color 0.5s ease;
  /*Para poder mostrar el texto sobre el fondo blanco*/
  z-index: 1;
}

.btn-light::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0px;
  height: 100%;
  background-color: var(--light);
  transition: border-radius 0.5s ease, width 0.5s ease;
  z-index: -1;
}

.btn-light:hover {
  color: var(--dark);
}

.btn-light:hover::before {
  border-radius: 15px;
  width: 100%;
}

.btn-dark {
  color: var(--dark);
  background-color: var(--light);
  position: relative;
  /* border: thin solid var(--dark); */
  border-radius: 15px;
  transition: color 0.5s ease;
  z-index: 1;
}

.btn-dark::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0px;
  height: 100%;
  background-color: var(--dark);
  transition: width 0.5s ease, border-radius 0.5s ease;
  z-index: -1;
}

.btn-dark:hover {
  color: var(--light);
}

.btn-dark:hover::before {
  width: 100%;
  border-radius: 15px;
}

.btn-primary {
  color: var(--light);
  background-color: var(--primary);
  position: relative;
  border-radius: 15px;
  transition: color 0.5s ease;
  z-index: 1;
}

.btn-primary::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0px;
  height: 100%;
  background-color: var(--light);
  transition: width 0.5s ease, border-radius 0.5s ease;
  z-index: -1;
}

.btn-primary:hover {
  color: var(--dark);
}

.btn-primary:hover::before {
  width: 100%;
  border-radius: 15px;
}
/*Btn secondary*/

/*Tarjetas*/
.card {
  position: relative;
  width: 300px;
  height: 350px;
  margin: 10px;
}

.face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  overflow: hidden;
  transition: 0.5s linear;
}

.front {
  transform: perspective(600px) rotateY(0deg);
  box-shadow: 0 5px 10px #000;
}

.front img {
  position: absolute;
  width: 100%;
  height: 300px;
  object-fit: fill;
}

.front h3 {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  line-height: 45px;
  color: #fff;
  color: #000;
  background: rgba(0, 0, 0, 4);
  background: #fff;
  text-align: center;
  text-transform: capitalize;
}

.back {
  transform: perspective(600px) rotateY(180deg);
  /* background: rgb(3, 35, 54); */
  background-color: white;
  padding: 15px;
  color: #f3f3f3;
  color: #000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  box-shadow: 0 5px 10px #fff;
}

.link {
  margin-right:auto;
  margin-left:auto;
  /*border-top: 1px solid #f3f3f3;
  border-top: 1px solid #000;*/
  background-color:white;
  height: 50px;
  line-height: 50px;
}

.link a {
  color: #f3f3f3;
  color: #000;
  text-decoration: none;
}

.back h3 {
background-color:white;
  font-size: 25px;
  margin-top: 20px;
  letter-spacing: 2px;
}

.back p {
background-color:white;
  letter-spacing: 1px;
}

.card:hover .front {
  transform: perspective(600px) rotateY(180deg);
}

.card:hover .back {
  transform: perspective(600px) rotateY(360deg);
}

/*Utilidades*/
.text-align-center {
  text-align: center;
}

.text-decoration-none {
  text-decoration: none;
}

.text-trans-uppercase {
  text-transform: uppercase;
}

.list-style-none {
  list-style: none;
}


/*Formulario*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    /*background-image: url('../images/imagen4.jpg');*/
  }

  .form-register {
    width: 400px;
    background: #fff;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 10px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #000;
  }

  .form-register h4 {
    font-size: 22px;
    margin-bottom: 20px;
    color: #000;
  }

  .controls {
    width: 100%;
    background: #fff;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #000;
    font-family: 'calibri';
    font-size: 18px;
    color: white;
  }

  .form-register p {
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
  }

  .form-register a {
    color: white;
    text-decoration: none;
  }

  .form-register a:hover {
    color: white;
    text-decoration: underline;
  }

  .form-register .botons {
    width: 100%;
    background: #000;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
  }

  .descripciones {
    width:100%;
    background: #fff;
    padding: 100px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #000;
    font-family: 'calibri';
    font-size: 18px;
    color: white;

  }
  .text-aling-center{
    text-align: center ;
  }
  label{
    color: #000;
  }

.alert {
  position: relative;
  padding: 1rem 1rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.alert-danger {
  color: #842029;
  background-color: #f8d7da;
  border-color: #f5c2c7;
}

.nav {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  background-color: var(--dark);
  margin-bottom: 30px;
}

.nav::before {
  position: absolute;
  content: "";
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: var(--light);
}

.nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav_list {
  margin-right: 2px;
}

.nav_img {
  width: 120px;
  height: 70px;
}

::selection{
  color: white;
  background-color: var(--dark);
}
