<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="shortcut icon" href="/images/logoMi.png">
    <title>MIWORKS</title>
</head>

<body id="fondo">
<header>
    <nav class="nav">
        <img class="nav_img" src="/images/logoMi.png" alt="Logo">
        <ul>
            <li class="nav_list list-style-none"><a class="btn btn-secondary text-decoration-none"th:href="@{/}">Inicio</a></li>
            <li class="nav_list list-style-none"><a class="btn btn-primary text-decoration-none"th:href="@{/usuarios/listar}">Usuarios</a></li>
            <li class="nav_list list-style-none dropdown">
                <a class="btn btn-secondary text-decoration-none"href="#">Publicaciones</a>
                <div class="dropdown-content">
                    <a class="btn btn-primary text-decoration-none text-align-center"th:href="@{/publicaciones/listar}">Ver Todas</a>
                    <a class="btn btn-primary text-decoration-none text-align-center"th:href="@{/publicaciones/crear}">Crear</a>
                </div>
            </li>
            <li class="nav_list list-style-none dropdown">
                <a class="btn btn-light text-decoration-none" href="#">Categorias</a>
                <div class="dropdown-content">
                    <a class="btn btn-primary text-decoration-none" th:href="@{/categorias/listar/} + 'Programacion'">Programacion</a>
                    <a class="btn btn-primary text-decoration-none" th:href="@{/categorias/listar/} + 'Educacion'">Educacion</a>
                    <a class="btn btn-primary text-decoration-none" th:href="@{/categorias/listar/} + 'Alimentacion'">Alimentacion</a>
                    <a class="btn btn-primary text-decoration-none" th:href="@{/categorias/listar/} + 'Fitnes'">Fitnes</a>
                    <a class="btn btn-primary text-decoration-none" th:href="@{/categorias/listar/} + 'Finanzas'">Finanzas</a>
                    <a class="btn btn-primary text-decoration-none" th:href="@{/categorias/listar/} + 'Otro'">Otro</a>
                </div>
            </li>
            <li class="nav_list list-style-none dropdown">
            <span sec:authorize="isAuthenticated()" th:if="${session.usuario != null}"><a
                    class="btn btn-secondary text-decoration-none" href="#">Perfil</a></span>
                <div class="dropdown-content">
                <span sec:authorize="isAuthenticated()" th:if="${session.usuario != null}"><a
                        class="btn btn-primary text-decoration-none"
                        th:href="@{/usuarios/perfil/} + ${session.usuario.username}" th:text="'Ver Perfil'">Ver Perfil</a></span>
                    <a class="btn btn-primary text-decoration-none" th:href="@{/usuarios/editar/} + ${session.usuario.username}">Editar
                        Perfil</a>
                </div>
            <li sec:authorize="isAuthenticated()" class="nav_list list-style-none"><a class="btn btn-secondary text-decoration-none"th:href="@{/logout}">Salir</a></li>
        </ul>
    </nav>
</header>
<h1 th:text="${titulo}"></h1>
<main class="container">
    <form class="form-register" th:action="@{/usuarios/editar}" th:object="${usuarioEdicion}" method="POST" enctype="multipart/form-data">
        <label class="light" for="nombre">Nombre:</label>
        <input id="nombre" type="text" th:field="*{nombre}">
        <div th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"
             th:errorclass="'alert alert-danger'"></div>

        <label class="light" for="apellido">Apellido:</label>
        <input id="apellido" type="text" th:field="*{apellido}">
        <div th:if="${#fields.hasErrors('apellido')}" th:errors="*{apellido}"
             th:errorclass="'alert alert-danger'"></div>

        <label class="light" for="username">Nombre de usuario:</label>
        <input id="username" type="text" th:field="*{username}">
        <div th:if="${#fields.hasErrors('username')}" th:errors="*{username}"
             th:errorclass="'alert alert-danger'"></div>

        <label class="light" for="documento">DNI:</label>
        <input id="documento" type="number" th:field="*{documento}">
        <div th:if="${#fields.hasErrors('documento')}" th:errors="*{documento}"
             th:errorclass="'alert alert-danger'"></div>

        <label class="light" for="fechanacimiento">Fecha de nacimiento:</label>
        <input id="fechanacimiento" type="date" th:field="*{fechaNacimiento}">
        <div th:if="${#fields.hasErrors('fechaNacimiento')}" th:errors="*{fechaNacimiento}"
             th:errorclass="'alert alert-danger'"></div>

        <label class="light" for="password">Contraseña:</label>
        <input id="password" type="text" th:field="*{password}">
        <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
             th:errorclass="'alert alert-danger'"></div>

        <label class="light" for="email">Correo:</label>
        <input id="email" type="email" th:field="*{email}">
        <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
             th:errorclass="'alert alert-danger'"></div>

        <label class="light" for="foto">Añadir imagen:</label>
        <input class="controls" id="foto" type="file" name="foto">

        <label class="light" for="educacion">Educacion:</label>
        <input class="controls" id="educacion" type="text" th:field="*{educacion}">

        <label class="light" for="descripcion">Descripcion:</label>
        <input id="descripcion" type="text" th:field="*{descripcion}">

        <button type="submit" class="btn btn-dark text-decoration-none center">Listo</button>
    </form>
</main>
<footer>
    <div class="footer-up">
        <div>
            <h3>Mas informacion de la compania</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam aperiam, atque doloremque earum et
                exercitationem id, illo ipsam libero necessitatibus neque odit placeat praesentium, quaerat quas sequi
                totam veritatis voluptate?</p>
        </div>
        <div>
            <h3>Redes Sociales</h3>
            <p>Instagram : MiWorks@gmail.com</p>
            <p>Twitter : MiWorks@gmail.com</p>
            <p>Facebook : MiWorks@gmail.com</p>
            <p>Whatsapp : 343212312</p>
            <p>Telegram : MiWorks</p>
        </div>
        <div>
            <h3>Informacion de Contacto</h3>
            <p>Telefono de Contacto : 192831231</p>
            <p>Email de Contacto : MiWorks@gmail.com</p>
        </div>

    </div>
    <div class="footer-down">
        <p>© 2022 Todos los Derechos Reservados</p>
        <a class="light text-decoration-none" href="#">Informacion Compañia </a>
        <a class="light text-decoration-none" href="#">Privacion y Politica </a>
        <a class="light text-decoration-none" href="#">Terminos y Condiciones</a>
    </div>
</footer>
</body>
</html>