<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Publicacion</title>
</head>

<body>
<h1 th:text="${titulo}"></h1>
<form th:action="@{/publicacion/crear}" th:object="${publicacion}" method="post">
    <label for="nombre">Nombre:</label>
    <input id="nombre" type="text" th:field="*{nombre}">
    <label for="descripcion">Descripción:</label>
    <input id="descripcion" type="text" th:field="*{descripcion}">
    <label for="foto">Añadir foto:</label>
    <input id="foto" type="file" name="foto">
    <label for="disponibilidad">Disponibilidad Horaria:</label>
    <input id="disponibilidad" type="text" th:field="*{disponibilidad}">
    <label for="fecha">Fecha de publicación:</label>
    <input id="fecha" type="date" th:field="*{fechaPublicacion}">
    <input type="submit" value="Enviar">
</form>
</body>

</html>