<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="shortcut icon" href="../images/logo.jpg">
    <title>MIWORKS</title>
</head>

<body>
<h1 th:text="${titulo}"></h1>
<form th:action="@{/publicaciones/crear/}+'Fede'" th:object="${publicacion}" method="post"
      enctype="multipart/form-data">

    <label class="red" for="titulo">Nombre:</label>
    <input id="titulo" type="text" th:field="*{titulo}">
    <div th:if="${#fields.hasErrors('titulo')}"
         th:errors="*{titulo}" th:errorclass="'form-control alert-danger'"></div>

    <label for="descripcion">Descripción:</label>
    <input id="descripcion" type="text" th:field="*{descripcion}">
    <div th:if="${#fields.hasErrors('descripcion')}" th:errors="*{descripcion}"></div>

    <label for="foto">Añadir foto:</label>
    <input id="foto" type="file" name="foto">

    <label for="disponibilidad">Disponibilidad Horaria:</label>
    <input id="disponibilidad" type="text" th:field="*{disponibilidad}">
    <div th:if="${#fields.hasErrors('disponibilidad')}"
         th:errors="*{disponibilidad}" th:errorclass="'form-control alert-danger'"></div>

    <input type="submit" value="Enviar">
</form>
<a th:href="@{/publicaciones/listar}">Volver</a>
</body>

</html>