<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="shortcut icon" href="/images/logoMi.png">
    <title>MIWORKS</title>
</head>
<body id="fondo">
<header>
    <nav class="nav">
        <img class="nav_img" src="/images/logoMi.png" alt="Logo">
        <ul>
            <li class="nav_list list-style-none"><a class="btn btn-primary text-decoration-none"th:href="@{/}">Inicio</a></li>
            <li sec:authorize="isAuthenticated()" class="nav_list list-style-none"><a class="btn btn-secondary text-decoration-none"th:href="@{/usuarios/listar}">Usuarios</a></li>
            <li sec:authorize="isAuthenticated()" class="nav_list list-style-none"><a class="btn btn-secondary text-decoration-none"th:href="@{/publicaciones/listar}">Publicaciones</a></li>
            <li sec:authorize="isAnonymous()" class="nav_list list-style-none"><a class="btn btn-secondary text-decoration-none"th:href="@{/ingresar}">Ingresar</a></li>
            <li sec:authorize="isAnonymous()" class="nav_list list-style-none"><a class="btn btn-secondary text-decoration-none"th:href="@{/usuarios/crear}">Registrarse</a></li>
            <li sec:authorize="isAuthenticated()" class="nav_list list-style-none"><a class="btn btn-secondary text-decoration-none"th:href="@{/logout}">Salir</a></li>
        </ul>
    </nav>
</header>
<footer>
    <div class="footer-up">
        <div>
            <h3>Mas informacion de la compania</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam aperiam, atque doloremque earum et
                exercitationem id, illo ipsam libero necessitatibus neque odit placeat praesentium, quaerat quas sequi
                totam veritatis voluptate?</p>
        </div>
        <div>
            <h3>Redes Sociales</h3>
            <p>Instagram : MiWorks@gmail.com</p>
            <p>Twitter : MiWorks@gmail.com</p>
            <p>Facebook : MiWorks@gmail.com</p>
            <p>Whatsapp : 343212312</p>
            <p>Telegram : MiWorks</p>
        </div>
        <div>
            <h3>Informacion de Contacto</h3>
            <p>Telefono de Contacto : 192831231</p>
            <p>Email de Contacto : MiWorks@gmail.com</p>
        </div>

    </div>
    <div class="footer-down">
        <p>© 2022 Todos los Derechos Reservados</p>
        <a class="light text-decoration-none" href="#">Informacion Compañia </a>
        <a class="light text-decoration-none" href="#">Privacion y Politica </a>
        <a class="light text-decoration-none" href="#">Terminos y Condiciones</a>
    </div>
</footer>
</body>
</html>