<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="shortcut icon" href="/images/logo.jpg">
    <title>MIWORKS</title>
</head>
<body class="logo">
<header>
    <nav class="nav">
        <img class="nav_img" src="/images/logo.jpg" alt="Logo">
        <ul>
            <li class="nav_list list-style-none"><a class="btn btn-primary text-decoration-none"th:href="@{/}">Inicio</a></li>
            <li sec:authorize="isAuthenticated()" class="nav_list list-style-none"><a class="btn btn-secondary text-decoration-none"th:href="@{/usuarios/listar}">Usuarios</a></li>
            <li sec:authorize="isAuthenticated()" class="nav_list list-style-none"><a class="btn btn-secondary text-decoration-none"th:href="@{/publicaciones/listar}">Publicaciones</a></li>
            <li sec:authorize="isAnonymous()" class="nav_list list-style-none"><a class="btn btn-secondary text-decoration-none"th:href="@{/index}">Ingresar</a></li>
            <li sec:authorize="isAnonymous()" class="nav_list list-style-none"><a class="btn btn-secondary text-decoration-none"th:href="@{/usuarios/crear}">Registrarse</a></li>
            <li sec:authorize="isAuthenticated()" class="nav_list list-style-none"><a class="btn btn-secondary text-decoration-none"th:href="@{/logout}">Salir</a></li>
        </ul>
    </nav>
</header>
</body>
</html>