<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tw-elements/dist/css/index.min.css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="shortcut icon" href="/images/logoMi.png">
    <title>MIWORKS</title>
</head>
<body id="fondo">
<header>
    <nav class="nav">
        <img class="nav_img" src="/images/logoMi.png" alt="Logo">
        <ul>
            <li class="nav_list list-style-none"><a class="btn btn-primary text-decoration-none"th:href="@{/}">Inicio</a></li>
            <li sec:authorize="isAuthenticated()" class="nav_list list-style-none"><a class="btn btn-secondary text-decoration-none"th:href="@{/usuarios/listar}">Usuarios</a></li>
            <li sec:authorize="isAuthenticated()" class="nav_list list-style-none"><a class="btn btn-secondary text-decoration-none"th:href="@{/publicaciones/listar}">Publicaciones</a></li>
            <li sec:authorize="isAnonymous()" class="nav_list list-style-none"><a class="btn btn-secondary text-decoration-none"th:href="@{/ingresar}">Ingresar</a></li>
            <li sec:authorize="isAnonymous()" class="nav_list list-style-none"><a class="btn btn-secondary text-decoration-none"th:href="@{/usuarios/crear}">Registrarse</a></li>
            <li sec:authorize="isAuthenticated()" class="nav_list list-style-none"><a class="btn btn-secondary text-decoration-none"th:href="@{/logout}">Salir</a></li>
        </ul>
    </nav>
</header>

<h1 class="text-align-center maintext light">Miworks</h1>
    <h2 class="text-align-center secondarytext light">¡ENCONTRAR TRABAJO NUNCA FUE TAN FACIL!</h2>
    <h2 class="text-align-center terciarytext light">Registrate contando tus mejores habilidades y aplicá a la oferta de trabajo que mejor se amolde a tu perfil.</h2>
    <br>
<!--    <span class="center-content">-->
<!--            <span sec:authorize="isAnonymous()" class="nav_list list-style-none"><a class="btn btn-secondary text-decoration-none"th:href="@{/usuarios/crear}">Registrarse</a></span>-->
<!--        </span>-->
<h2 class="text-aling-center secondarytext light">Algunas de nuestras categorias:</h2>

<div id="carouselExampleCaptions" class="carousel slide relative" data-bs-ride="carousel">
    <div class="carousel-indicators absolute right-0 bottom-0 left-0 flex justify-center p-0 mb-4">
        <button
                type="button"
                data-bs-target="#carouselExampleCaptions"
                data-bs-slide-to="0"
                class="active"
                aria-current="true"
                aria-label="Slide 1"
        ></button>
        <button
                type="button"
                data-bs-target="#carouselExampleCaptions"
                data-bs-slide-to="1"
                aria-label="Slide 2"
        ></button>
        <button
                type="button"
                data-bs-target="#carouselExampleCaptions"
                data-bs-slide-to="2"
                aria-label="Slide 3"
        ></button>
    </div>
    <div class="carousel-inner relative w-full overflow-hidden">
        <div class="carousel-item active relative float-left w-full">
            <img
                    src="/images/foto1.png"
                    class="block w-full"
                    alt="..."
            />
            <div class="carousel-caption hidden md:block absolute text-center">
                <h5 class="text-xl">First slide label</h5>
                <p>Some representative placeholder content for the first slide.</p>
            </div>
        </div>
        <div class="carousel-item relative float-left w-full">
            <img
                    src="/images/foto2.png"
                    class="block w-full"
                    alt="..."
            />
            <div class="carousel-caption hidden md:block absolute text-center">
                <h5 class="text-xl">Second slide label</h5>
                <p>Some representative placeholder content for the second slide.</p>
            </div>
        </div>
        <div class="carousel-item relative float-left w-full">
            <img
                    src="/images/foto4.png"
                    class="block w-full"
                    alt="..."
            />
            <div class="carousel-caption hidden md:block absolute text-center">
                <h5 class="text-xl">Third slide label</h5>
                <p>Some representative placeholder content for the third slide.</p>
            </div>
        </div>
    </div>
    <button
            class="carousel-control-prev absolute top-0 bottom-0 flex items-center justify-center p-0 text-center border-0 hover:outline-none hover:no-underline focus:outline-none focus:no-underline left-0"
            type="button"
            data-bs-target="#carouselExampleCaptions"
            data-bs-slide="prev"
    >
        <span class="carousel-control-prev-icon inline-block bg-no-repeat" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button
            class="carousel-control-next absolute top-0 bottom-0 flex items-center justify-center p-0 text-center border-0 hover:outline-none hover:no-underline focus:outline-none focus:no-underline right-0"
            type="button"
            data-bs-target="#carouselExampleCaptions"
            data-bs-slide="next"
    >
        <span class="carousel-control-next-icon inline-block bg-no-repeat" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<h2 class="text-aling-center secondarytext light">Ultimas Publicaciones:</h2>
<br>
<br>
<main class="container">
    <article class="card">
        <div class="face-primary front-primary">
            <img src="/images/uala.png" alt="Foto">
            <h3 class="text-align-center" >Programacion</h3>
        </div>
        <div class="face-primary back-primary">
            <h3 class="text-align-center">Programacion</h3>
            <p class="text-align-center">Requisitos:

                · Nivel de inglés: intermedio o superior

                · +3 años de experiencia en desarrollo IU con conocimientos profundos en HTML5, CSS3 y Javascript.

                · Conocimientos profundos en ASP.NET, C#, MVC, ASP.Net Core

                · Conocimientos en API y Web Services.

                · Conocimientos profundos en SQL Server.

            </p>
            <div class="link">
                <a class="btn btn-light text-decoration-none">Info</a>
            </div>
        </div>
    </article>
    <article class="card">
        <div class="face-primary front-primary">
            <img src="/images/mercado-libre.jpg" alt="Foto">
            <h3 class="text-align-center" >Educacion</h3>
        </div>
        <div class="face-primary back-primary">
            <h3 class="text-align-center">Educacion</h3>
            <p class="text-align-center">                        · Nivel de inglés: intermedio o superior

                · Manejo de habilidades blandas.

                · Conocimientos en educacion relacionada a la programacion.

                · Conocimientos en API y Web Services.

                · Conocimientos profundos en SQL Server.</p>
            <div class="link">
                <a class="btn btn-light text-decoration-none">Info</a>
            </div>
        </div>
    </article>
    <article class="card">
        <div class="face-primary front-primary">
            <img src="/images/acc.jpg" alt="Foto">
            <h3 class="text-align-center" >Finanzas</h3>
        </div>
        <div class="face-primary back-primary">
            <h3 class="text-align-center">Finanzas</h3>
            <p class="text-align-center">· Nivel de inglés: intermedio o superior

                · +3 años de experiencia en Finanzas.

                · Conocimientos profundos Sobre contabilidad

                · Conocimientos Liquidacion de sueldos.

                · Conocimientos profundos en Excel y SQL.</p>
            <div class="link">
                <a class="btn btn-light text-decoration-none">Info</a>
            </div>
        </div>
    </article>
</main>

<footer>
    <div class="footer-up">
        <div>
            <h3>Mas informacion de la compania</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam aperiam, atque doloremque earum et
                exercitationem id, illo ipsam libero necessitatibus neque odit placeat praesentium, quaerat quas sequi
                totam veritatis voluptate?</p>
        </div>
        <div>
            <h3>Redes Sociales</h3>
            <p>Instagram : MiWorks@gmail.com</p>
            <p>Twitter : MiWorks@gmail.com</p>
            <p>Facebook : MiWorks@gmail.com</p>
            <p>Whatsapp : 343212312</p>
            <p>Telegram : MiWorks</p>
        </div>
        <div>
            <h3>Informacion de Contacto</h3>
            <p>Telefono de Contacto : 192831231</p>
            <p>Email de Contacto : MiWorks@gmail.com</p>
        </div>

    </div>
    <div class="footer-down">
        <p>© 2022 Todos los Derechos Reservados</p>
        <a class="light text-decoration-none" href="#">Informacion Compañia </a>
        <a class="light text-decoration-none" href="#">Privacion y Politica </a>
        <a class="light text-decoration-none" href="#">Terminos y Condiciones</a>
    </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>