<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="shortcut icon" href="/images/logo.jpg">
    <title>MIWORKS</title>
</head>
<body>

<header>
    <nav class="nav">
        <img class="nav_img" src="/images/logo.jpg" alt="Logo">
        <ul>
            <li class="nav_list list-style-none"><a class="btn btn-light text-decoration-none"th:href="@{/}">Inicio</a></li>
            <li class="nav_list list-style-none"><a class="btn btn-light text-decoration-none"th:href="@{/usuarios/listar}">Usuarios</a></li>
            <li class="nav_list list-style-none"><a class="btn btn-light text-decoration-none"th:href="@{/publicaciones/listar}">Publicaciones</a></li>
            <li class="nav_list list-style-none"><a class="btn btn-primary text-decoration-none"th:href="@{/usuarios/perfil/} + 'fede'">Mi perfil</a></li>
            <li sec:authorize="isAuthenticated()" class="nav_list list-style-none"><a class="btn btn-light text-decoration-none"th:href="@{/logout}">Salir</a></li>
        </ul>
    </nav>
</header>
<h1 class="text-align-center light">Perfil</h1>

<h2 class="light" th:text="'Publicaciones - ' + ${cantidad}"></h2>
<main class="container">
    <article class="card" th:if="${usuario.publicaciones != null}" th:each="publicacion : ${usuario.publicaciones}">
        <div class="face-primary front-primary">
            <img th:if="${publicacion.imagen != null}" th:src="${'/publicaciones/imagen/' + publicacion.id}">
            <h3 class="text-align-center" th:text="${publicacion.titulo}"></h3>
        </div>
        <div class="face-primary back-primary">
            <h3 class="text-align-center" th:text="${publicacion.titulo}"></h3>
            <p class="text-align-center" th:text="${publicacion.descripcion}"></p>
            <a class="btn btn-primary text-decoration-none" th:href="@{/publicaciones/info/} + ${publicacion.id}">INFO</a>
        </div>
    </article>
</main>

<!--<div class="text-align-center">-->
<!--    <h1 th:text="${titulo}"></h1>-->
<!--    <img th:if="${usuario.imagen != null}" th:src="${'/usuarios/imagen/' + usuario.id}">-->
<!--    <h2 th:text="${usuario.username}"></h2>-->
<!--    <h3 th:text="${usuario.nombre} +' '+ ${usuario.apellido}"></h3>-->
<!--    <h4 th:text="${usuario.educacion}"></h4>-->
<!--    <p th:text="${usuario.descripcion}"></p>-->
<!--</div>-->

</body>
</html>