<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
<a th:href="@{/usuarios/crear}">Crear</a>
<table>
    <thead>
    <tr>
        <th> Nombre</th>
        <th> Apellido</th>
        <th> Documento</th>
        <th> Fecha de Nacimiento</th>
        <th> Correo</th>
        <th> Imagen</th>
        <th> Educacion</th>
        <th> Descripcion</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="usuario : ${usuarios}">
        <td th:text="${usuario.nombre}"></td>
        <td th:te alt="Foto Usuario"></td>
        </td>
        <td th:text="${usuario.apellido}"></td>
        <td th:text="${usuario.documento}"></td>
        <td th:text="${usuario.fechaNacimiento}"></td>
        <td th:text="${usuario.email}"></td>
        <td><img th:if="${usuario.imagen != null}"
                 th:src="${'/usuarios/imagen/' + usuario.id}">
        </td>
        <td th:text="${usuario.educacion}"></td>
        <td th:text="${usuario.descripcion}"></td>
    </tr>
    </tbody>
</table>
</body>

</html>