<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="shortcut icon" href="/images/logo.jpg">
    <title>MIWORKS</title>
</head>
<body>

<header>
    <nav class="nav">
        <img class="nav_img" src="/images/logo.jpg" alt="Logo">
        <ul>
            <li class="nav_list list-style-none"><a class="btn btn-secondary text-decoration-none" th:href="@{/}">Inicio</a>
            </li>
            <li class="nav_list list-style-none"><a class="btn btn-secondary text-decoration-none"
                                                    th:href="@{/usuarios/listar}">Usuarios</a></li>
            <li class="nav_list list-style-none dropdown">
                <a class="btn btn-secondary text-decoration-none" href="#">Publicaciones</a>
                <div class="dropdown-content">
                    <a class="btn btn-primary text-decoration-none text-align-center"
                       th:href="@{/publicaciones/listar}">Ver Todas</a>
                    <a class="btn btn-primary text-decoration-none text-align-center"
                       th:href="@{/publicaciones/crear}">Crear Publicacion</a>
                </div>
            </li>
            <li class="nav_list list-style-none dropdown">
                <a class="btn btn-secondary text-decoration-none" href="#">Categorias</a>
                <div class="dropdown-content">
                    <a class="btn btn-primary text-decoration-none" th:href="@{/categorias/listar/} + 'Programacion'">Programacion</a>
                    <a class="btn btn-primary text-decoration-none" th:href="@{/categorias/listar/} + 'Educacion'">Educacion</a>
                    <a class="btn btn-primary text-decoration-none" th:href="@{/categorias/listar/} + 'Alimentacion'">Alimentacion</a>
                    <a class="btn btn-primary text-decoration-none"
                       th:href="@{/categorias/listar/} + 'Fitnes'">Fitnes</a>
                    <a class="btn btn-primary text-decoration-none" th:href="@{/categorias/listar/} + 'Finanzas'">Finanzas</a>
                    <a class="btn btn-primary text-decoration-none" th:href="@{/categorias/listar/} + 'Otro'">Otro</a>
                </div>
            </li>
            <li sec:authorize="isAuthenticated()" th:if="${session.usuario != null}" class="nav_list list-style-none"><a
                    class="btn btn-primary text-decoration-none"
                    th:href="@{/usuarios/perfil/} + ${session.usuario.username}" th:text="'Perfil'">Perfil</a></li>
            <li sec:authorize="isAuthenticated()" class="nav_list list-style-none"><a
                    class="btn btn-secondary text-decoration-none" th:href="@{/logout}">Salir</a></li>
        </ul>
    </nav>
</header>
<h1 class="text-align-center light" th:text="${usuario.username}"></h1>
<a class="btn btn-secondary text-decoration-none" th:href="@{/usuarios/editar/} + ${session.usuario.username}">Editar Perfil</a>
<h2 class="light" th:text="'Publicaciones - ' + ${cantidad}"></h2>
<main class="container">
    <article class="card" th:if="${usuario.publicaciones != null}" th:each="publicacion : ${usuario.publicaciones}">
        <div class="face-primary front-primary">
            <img th:if="${publicacion.imagen != null}" th:src="${'/publicaciones/imagen/' + publicacion.id}">
            <h3 class="text-align-center" th:text="${publicacion.titulo}"></h3>
        </div>
        <div class="face-primary back-primary">
            <h3 class="text-align-center" th:text="${publicacion.titulo}"></h3>
            <p class="text-align-center" th:text="${publicacion.descripcion}"></p>
            <!--            <a class="btn btn-primary text-decoration-none"-->
            <!--               th:href="@{/publicaciones/info/} + ${publicacion.id}">INFO</a>-->
        </div>
    </article>
</main>

</body>
</html>